.backgroundForButton {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  margin: 0%;
  padding: 0%;
  display: flex;
  background-size: calc(250%);
  background-position: center;
  background-image: url("../../assets/images/barelTransparentBackground.png");
}

.positionForDiv {
  margin-top: 66%;
  margin-left: auto;
  margin-right: auto;
}

.outer {
  background-image: url("../../assets/images/south-australia-vineyard.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: none;
}