  .winery-header {
    color: #3F51B5;
    font-weight: bold;
    font-size: small;
  }

  .rating-on-small {
    color: #3F51B5;
    font-weight: bold;
    margin-left: 25px;
  }

  //for the table
  .winery-data {
    font-size: x-small;
  }

  .winery-sorting-area {
    font-size: small;
  }

  @media screen and (min-width: 960px) {
    .winery-header {
      font-size: large;
    }

    .winery-data {
      font-size: large;
    }

    .winery-sorting-area {
      font-size: medium;
    }

    .winery-item {
      font-size: large;

      img {
        width: 50px;
      }
    }
  }